<p id="notice"><%= notice %></p>

<p>
  <strong>Назва маршрута:</strong>
  <%= @route.name %>
</p>
<p>
  <strong>Список поїздів на даний момент:</strong>
  <% if @route.trains.present?%>
      <% @route.trains.each do |train| %>
        <td>
          <%= train.number %>
        </td>
        <% end %>
  <% else %>
      Поїздів немає
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %>
<%= link_to 'Back', routes_path %>
