<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tipe %>
    <%= form.text_field :tipe, id: :car_tipe %>
  </div>
    <div class="field">
    <%= form.label :Train_id, "Виберіть потяг" %>
    <%= form.collection_select :train_id,Train.all, :id ,:number %>
  </div>

  <div class="field">
    <%= form.label :up_place_count %>
    <%= form.number_field :up_place_count, id: :car_up_place_count %>
  </div>

  <div class="field">
    <%= form.label :down_place_count %>
    <%= form.number_field :down_place_count, id: :car_down_place_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
